body{
    background-color: rgb(204, 204, 204);
}

.navegacao{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0px;
   
}

.lista{
    display: flex;
    gap: 25px;
    list-style: none;
}


.lista a {
    color: rgb(31, 30, 30);
    text-decoration: none;

}

.corpo{
    background-color: azure;
    padding: px;
}